/* html, body {
  margin: 0;
  padding: 0;
} */

.App {
  
  width: 100%;
  margin: 0px;
  padding: 0px;
}

/* .container {
  margin: 0;
  padding: 0;
} */

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
  width: 100%;
  padding-right: 0 !important;
  padding-left: 0 !important;
  margin-right: auto;
  margin-left: auto;
}

nav.navbar { 
  display: flex;
  padding: 0px 20px;
  background: #686de0; 
}

button.navbar-button {
  padding: 5px 20px;
  width: 100px;
  margin: 15px 10px;
  border-radius: 3px;
}

#home-btn {
  color: white;
  text-decoration: none;
}